# Placeholder for requirements.txt
torch==2.1.0
torchvision==0.16.0
torchaudio==2.1.0
efficientnet_pytorch==0.7.1
opencv-python==4.8.0.76
scikit-learn==1.3.0
matplotlib==3.7.2
numpy==1.24.4
pandas==2.0.3
tqdm==4.66.1
Pillow==9.5.0
seaborn
streamlit
Flask
flask-cors
openpyxl
grad-cam
